# Build outputs
*.o
*.bin
*.iso
initrd.tar

# Generated boot image copied into the ISO tree
iso/boot/kernel.bin
iso/boot/initrd.tar
*.img 
#create a disk.img for hardware port to read or else it will hang presuming hrdware is always busy 
# Local emulator/debug leftovers
*.log
qemu.log